.wrapper {
	width: 300px;
	height: 200px;
	background-color: rgb(52, 235, 207);
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
}

.test-box {
	margin-left: 20px;
	position: absolute;

}

.test-box > p {
	margin-bottom: 5px;
}

#inputData {
	width: 180px;
	height:  20px;
}


.resOutput {
	margin-top: 10px;
	background-color: rgb(52, 198, 235);
	width: 50%;
}